/* 
Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap 
*/
@media (max-width: 575px){
    #header_name{
        font-size: 20px;
    }
    #header_subtext{
        font-size: 5px;
    }
   
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px){    
    #header_name{
        font-size: 10px;
    }
    #header_subtext{
        font-size: 5px;
    }
    .about_me_title{
        text-align: center;
    }
    .hero-text{
        font-size: 18px;
    }

    .hero-text>h1{
        font-size: 80px;
    }

    #about_row, #work_row, #project_row{
        margin-left: 2px;
    }

    #project_banner{
        width: 100%;
    }

    #about_row .card-title{
        font-size: 30px;
        font-weight: 100;
        text-align: center;
        padding-bottom: 10px;
    }

    #work_row_header{
        font-size: 40px;
        font-weight: 100;
    }

    .main-timeline4:before {
        margin-left: 10px;
    }
    #project_row{
        /* border: 1px orange solid; */
        justify-content: center;
    }

    #project_row .card{
        text-align: center;
        margin-bottom: 30px;
        padding-bottom: 10px;
        width: 400px;
        display: inline-flex;
    }
        .languages {
            background: rgba(0, 0, 0, 0.685);
            color: white;
            width: fit-content;
            padding-right: 2%;
            padding-left: 2%;
            padding-top: 1%;
            padding-bottom: 1%;
            border-radius: 50% 20% / 10% 40%;
        }

    #project_row .card-title{
        font-size: 32px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px), (max-width: 991px){
    #header_name{
        font-size: 40px;
    }
    #header_subtext{
        font-size: 15px;
    }
   
    #project_row{
        /* border: 1px blue solid; */
        justify-content: center;
    }
    
    #project_row .card{
        width: 400px;
        display: inline-flex;
        text-align: center;
    }
    .about_me_title{
        text-align: center;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #header_name{
        font-size: 80px;
    }
    #header_subtext{
        font-size: 20px;
    }
    #project_row{
        /* border: 1px pink solid; */
        justify-content: center;
    }
    .about_me_title{
        text-align: center;
    }

    #project_row .card{
        width: 400px;
        display: inline-flex;
        text-align: center;
    }
 }
