*{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

h1{
  font-family: 'Abril Fatface', cursive;
}

p, li{
  font-family: 'Raleway', sans-serif;
}

a{
  color: inherit;
}

nav{
  display: block;
  position:fixed;
  z-index: 100;
  background-color: transparent;
  top: 0;
  text-align: right;
  width: 100%;
  color: #6F6F6F;
}

nav ul{
  text-decoration: none;
  padding: 4em;
}

nav li{
  display: inline-block;
  padding-right: 5em;
}

nav li:hover{
  color: #6454FA;
  transition: 0.5s ease-in;
  font-weight: 800;
}

/* Navbar changing color */

.pages{
  display: flexbox;
  /* border: 1px solid black; */
  flex-direction: row;
  flex-wrap: wrap;
}

.pages:nth-child(2){
  margin-top: 100vh;
}

/* Landing Page Section ytling */

.landing-grey-area{
  background-color: #FAFAFA;
  width: 30vw;
  height: 100vh;
  left:0;
  top: 0;
  display: none;
  position: absolute;
  z-index: -100;
}

.landing-content-container{
  position: absolute;
  left: 18vw;
  top: 26vh;
  z-index: 100;
  width: 33vw;
  opacity: 0;
}

.landing-content-container h1, .portfolio-texts-column h1{
  padding-bottom: 6vh;
  font-size: 4em;
}

.landing-content-container p, .portfolio-texts-column p{
  padding-top: 6vh;
  padding-bottom: 6vh;
}

hr{
  width: 5em;
  border: 1px solid #6454FA;
}

.icon-container img{
  height: 3vh;
  width: auto;
  color: #6F6F6F;
  padding-right: 0.5vw;
}

.icon-container img:hover{
  fill: #6454FA;
  transition: ease-in 1s;
}

.landing-image{
  right:10vw;
  top: 60vh;
  position: absolute;
  height: 60vh;
  display:none;
}

/* About Me Section Styling */

.about-heading{
  padding-top: 20vh;
  padding-left: 13vw;
  font-size: 3em;
}

.about-paragraph{
  margin-top: 5%;
  padding-left: 3%;
  margin-left: 26.5vw;
  max-width: 43vw;
  text-align: justify;
}

.circle{
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  position: absolute;
  background-color: #6454FA;
  margin-left: 26vw;
  margin-top: 3vh;
}

/* Curriculums Section Styling */
.parallax{
  background-image: url(images/5.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.curriculums{
  background-color: rgba(0, 0, 0, 0.801);
  margin-top: 20vh;
  text-align: left;
  line-height: 6em;
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
  font-kerning: auto;
}

.curriculums p{
  padding: 12vw;
  font-size: 6rem;
  color: rgba(0, 0, 0, 0.137);
  font-style: italic;
}

.curriculums b:hover{
  color: #fafafac2;
  transition: 0.8s ease-in-out;
}

/* Tech Stack SectionStyling */

.service-cards-container{
  display: grid;
  grid-template-columns: repeat(4, auto);
  column-gap: 1vw;
  padding: 10vw;
  height: 100%;
}

.service-cards{
  display: grid;
  overflow: hidden;
  height: 26vh;
  width: 20vw;
  grid-template-columns: repeat(2,1fr);
  justify-items: center;
}

.service-cards-inner-heading-columns{
  text-align: right;
  background-color: #FAFAFA;
  padding: 1em;
  text-align: left;
  display: inline-block;
  min-width: 8vw;
  max-width: auto;
}

.service-cards-inner-list-columns {
  display: inline-block;
  padding-top: 5em;
  max-width: 10vw;
}


.tech-stack-heading{
  padding-top: 20vh;
  padding-left: 13vw;
  font-size: 3em;
}

.tech-stack-paragraph{
  margin-top: 5%;
  padding-left: 3%;
  margin-left: 26.5vw;
  max-width: 43vw;
  text-align: justify;
}


/* Portfolio Section Styling */

.portfolio-section-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.portfolios-column{
  display: grid;
  grid-template-columns: auto auto;
  text-align: center;
  position: relative;
  overflow-y: scroll;
  height: 100vh;
  width: 60vw;
  background-color: #FAFAFA;
}

.portfolio, .portfolio img{
  display: inline-block;
  position: relative;
  width: 100%;
  height: 26vw;
}
.portfolio-texts-column{
  display: relative;
  background-color: black;
  height: 100vh;
  right:0;
  height: 100%;
  position: relative;
  justify-self: end;
}

.portfolio-texts-container{
  padding-top: 30vh;
  padding-left: 8vw;
}

.portfolio-texts-container hr{
  border: 1px solid #6454FA;
}

.portfolio-texts-column h1{
  font-size: 3em;
  color: #FAFAFA;
}

.portfolio-texts-column p{
  max-width: 80%;
  color: #FAFAFA;
}

.portfolio a{
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  font-weight: bolder;
  color: #FAFAFA;
}

.portfolio a:hover{
  color: #6454FA;
  
}
.contact-btn{
  border: none;
  background-color: #FAFAFA;
  color: black;
  font-weight: bolder;
  font-size: 1em;
  text-align: center;
  padding: 2%;
  padding-left: 1vw;
  padding-right: 1vw;
  font-family: 'Raleway', sans-serif;
}

.contact-btn:hover{
  background-color:#6454FA;
  color: white;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}


.overlay {
  position: absolute;
  height: inherit;
  z-index: 100;
  min-width: 100%;
  left: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.9);
}

.portfolio:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
