*{
  padding: 0;
  margin: 0;
}

h1{
  font-family: 'Abril Fatface', cursive;
}

p, li{
  font-family: 'Raleway', sans-serif;
}

.pages{
  display: flexbox;
  border: 1px solid black;
  flex-direction: row;
  flex-wrap: wrap;
}

.pages:nth-child(2){
  margin-top: 100vh;
}

/* First Page Sytling */

.landing-grey-area{
  background-color: #FAFAFA;
  width: 30vw;
  height: 100vh;
  left:0;
  top: 0;
  position: absolute;
  z-index: -100;
}

.landing-content-container{
  position: absolute;
  left: 18vw;
  top: 26vh;
  z-index: 100;
  width: 33%;
}

.landing-content-container h1{
  padding-bottom: 6%;
  font-size: 4em;
}

.landing-content-container p{
  padding-top: 6%;
  padding-bottom: 6%;
}

.landing-content-container hr{
  width: 5em;
  border: 1px solid #6454FA;
}

.icon-container img{
  height: 30px;
  width: auto;
  color: #6F6F6F;
  padding-right: 2%;
}

.icon-container img:hover{
  fill: #6454FA;
  transition: ease-in 1s;
}

.landing-image{
  right:10vw;
  top: 60vh;
  position: absolute;
  height: 60%;
}

/* Second Page Styling */
.about-heading{
  padding-top: 5%;
  padding-left: 12%;
  font-size: 3em;
}

.about-paragraph{
  margin-top: 5%;
  margin-left: 29%;
  max-width: 33%;
}

.circle{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #6454FA;
  margin-left: 26%;
  margin-top: -1%;
}

.curriculums{
  border: 1px solid #707070;
  text-align: right;
  width: inherit;

}